# MySQL Assignment

Question 1:

A database is a structured collection of data that is electronically stored and organized in a way that allows for easy access, retrieval, and management. It's essentially a digital filing system that efficiently stores and organizes information for various purposes. Databases are fundamental components of many software applications, websites, and information systems.

Here's a breakdown of the key differences between SQL and NoSQL databases:

SQL Databases (Relational Databases):

Structure: Structured data. Data is organized into tables with rows (records) and columns (attributes). Enforces relationships between tables using foreign keys.
Query Language: Structured Query Language (SQL) is used for querying and manipulating data. SQL provides a powerful and standardized way to interact with relational databases.
Schema: Schema-based. The structure and data types of tables are predefined before data is inserted. This ensures data integrity and consistency.
Scalability: Primarily vertically scalable (scaling up) by adding more processing power or storage to a single server.
Transactions: ACID properties (Atomicity, Consistency, Isolation, Durability) are typically guaranteed, ensuring data integrity during write operations.
Use Cases: Well-suited for complex queries requiring joins across multiple tables, data with well-defined schemas, and applications that require strong consistency and data integrity. Examples include financial applications, enterprise resource planning (ERP) systems, and e-commerce platforms.
NoSQL Databases (Non-Relational Databases):

Structure: Flexible data schema. Data can be stored in various formats like documents, key-value pairs, graphs, or wide-column stores. Less emphasis on rigid table structures.
Query Language: Varies depending on the database type. Some NoSQL databases have their own query languages, while others might use document-oriented query languages or key-value retrieval methods.
Schema: Schema-less or schema-flexible. Data structure can evolve over time without altering the database schema.
Scalability: Primarily horizontally scalable (scaling out) by adding more servers to distribute the data load across multiple machines.
Transactions: ACID properties may not be strictly enforced in all NoSQL databases. Focuses on high availability and performance over strict data consistency in some cases.
Use Cases: Ideal for large, unstructured datasets, big data applications, and real-time data processing. Examples include social media platforms, content management systems, and internet of things (IoT) data storage.

Question 2:
    
DDL stands for Data Definition Language. It's a collection of specific SQL statements used to define, create, modify, and remove the structure of database objects like tables, views, indexes, and users. DDL statements don't directly manipulate data within the tables; they focus on defining the database schema itself.

CREATE:
Purpose: The CREATE statement is used to create new database objects. This is where you define the structure of your tables, specifying their columns (attributes) and data types.
Example:
SQL
CREATE TABLE Customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE,
    phone_number CHAR(10)
);

DROP:

Purpose: The DROP statement is used to remove existing database objects entirely. It's permanent, so use it with caution.
Example:
SQL
DROP TABLE Orders;

ALTER:

Purpose: The ALTER statement allows you to modify the structure of existing database objects. You can add new columns, modify existing ones (data type, constraints), or drop columns entirely.
Example:
SQL
ALTER TABLE Customers ADD COLUMN city VARCHAR(255);

TRUNCATE:

Purpose: The TRUNCATE statement is used to delete all data (rows) from a table, but it preserves the table structure itself. It's generally faster than using DELETE without a WHERE clause, as it doesn't need to check conditions for each row. However, it's also permanent and cannot be undone.
Example:
SQL
TRUNCATE TABLE Products;

Question 3:

DML stands for Data Manipulation Language. It's a collection of SQL statements used to interact with the actual data stored within tables. DML statements allow you to insert, update, and delete data from existing tables, as defined by the database schema created using DDL (Data Definition Language).

INSERT:

Purpose: The INSERT statement is used to add new rows (records) of data to a table. You specify the values for each column in the new row.
Example:
SQL
INSERT INTO Customers (customer_id, name, email, phone_number)
VALUES (1001, 'John Doe', 'john.doe@example.com', '123-456-7890');

UPDATE:

Purpose: The UPDATE statement allows you to modify existing data in a table. You can update specific columns in rows that meet certain conditions.
Example:
SQL
UPDATE Customers
SET email = 'jane.doe@example.com'
WHERE customer_id = 1002;

DELETE:

Purpose: The DELETE statement is used to remove rows from a table. You can delete all rows or specific rows based on a condition.
Example:
SQL
DELETE FROM Orders
WHERE order_date < '2024-01-01';

Question 4:
DQL stands for Data Query Language. It's a subset of SQL (Structured Query Language) specifically focused on retrieving data from a database. DQL statements don't modify the data itself; they allow you to extract and manipulate the data for various purposes, such as generating reports, populating web pages, or performing data analysis.

Purpose: The SELECT statement is the primary tool for retrieving data from tables in a relational database. It allows you to specify which columns and rows you want to extract and apply filtering or sorting conditions.
Example:
SQL
SELECT customer_id, name, email
FROM Customers
WHERE city = 'New York';

Question 5:

Primary Key (PK):

A primary key is a unique identifier for a row (record) within a table. It ensures that no two rows have the same value for the primary key column(s).
A table can only have one primary key. It's the foundation for enforcing data integrity and uniqueness within a table.
Primary keys are often chosen to be immutable (unchanging) values like IDs or unique codes to guarantee distinct identification.
Foreign Key (FK):

A foreign key is a column (or set of columns) in one table that references the primary key of another table. It creates a link between related data across tables.
A table can have multiple foreign keys, each referencing a different primary key in another table.
Foreign keys help prevent orphaned data (data entries in one table that reference non-existent entries in another table).

Question 6:

In [ ]:
import mysql.connector

# Database connection details
hostname = "localhost"
username = "your_username"
password = "your_password"
database = "your_database"

try:
  # Connect to the MySQL database
  mydb = mysql.connector.connect(
      host=hostname,
      user=username,
      password=password,
      database=database
  )

  # Create a cursor object
  mycursor = mydb.cursor()

  # Sample query to execute
  sql = "SELECT * FROM customers"  # Replace with your desired query

  # Execute the query
  mycursor.execute(sql)

  # Fetch results (if applicable)
  myresult = mycursor.fetchall()

  # Print the results (optional)
  for row in myresult:
      print(row)

except mysql.connector.Error as err:
  print("Error connecting to database:", err)
finally:
  # Close the cursor and connection (optional, but good practice)
  if mycursor:
      mycursor.close()
  if mydb:
      mydb.close()

print("Database connection closed.")

Question 7: